	
	table {
		margin:auto;
	}
	
	tbody {
		border-style: solid;
		border-color: black;
		border-width: medium;
		width: 100%;
	}
	
	button {
		width: 50px;
		height: 50px;
		background-color: #EDEFF1 !important;
		color: black !important;	
	}
	
	#box {
		width: 210px;
		height: 50px;
		margin-bottom: 5px;
		border-style: outset;
		font-size: 23px;
	}
	
	#equalsSign {
		height: 125px;		
	}
	
	#zero {
		width: 105px;
	}
	
	.btn-secondary:hover {
		background-color: #D8DADC !important;
	}
	
	.btn-clear-all:hover {
		background-color: #EF4141 !important;
		color: white !important;
	}
	
	.btn-del:hover {
		background-color: tomato !important;
		color: white !important;
	}
	
	.btn-operator:hover {
		background-color: MediumSeaGreen !important;
		color: white !important;
	}
	
	.btn-equals:hover {
		background-color: Dodgerblue !important;
		color: white !important;
	}
	
	.btn-decimal:hover {
		background-color: #17a2b8 !important;
		color: white !important;s
	}